# Build & caches
.build/
.gradle/
build/
out/
target/

# IDE
.idea/
*.iml
.classpath
.project
.settings/

# Wrapper Gradle — autorisé en local mais INTERDIT au repo
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# libs locaux (non versionnés) pour builds optionnels
local-libs/
